@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../font/MinionPro-Regular.otf");
}
@font-face {
	font-family:Times;
	font-style:normal;
	font-weight:bold;
	src : url("../font/Times-Bold.ttc");
}
@font-face {
	font-family:"Times New Roman";
	font-style:normal;
	font-weight:bold;
	src : url("../font/TimesNewRomanPS-BoldMT.ttf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:italic;
	font-weight:normal;
	src : url("../font/TimesNewRomanPS-ItalicMT.ttf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:oblique;
	font-weight:normal;
	src : url("../font/TimesNewRomanPS-ItalicMT.ttf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:normal;
	font-weight:normal;
	src : url("../font/TimesNewRomanPSMT.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}

span.CharOverride-1 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:960px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:960px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#000000;
	font-family:Times, serif;
	font-size:1440px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:3134.9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:960px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:960px;
	font-style:normal;
	font-weight:bold;
}


#_idContainer000, #_idContainer122, #_idContainer132, #_idContainer140, #_idContainer147, #_idContainer153, #_idContainer156, #_idContainer199, #_idContainer212, #_idContainer216, #_idContainer236, #_idContainer238 {
	-webkit-transform:translate(200.000px,195.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2337.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,195.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer001, #_idContainer004, #_idContainer006, #_idContainer009, #_idContainer011, #_idContainer013, #_idContainer017, #_idContainer019, #_idContainer021, #_idContainer025, #_idContainer031, #_idContainer035, #_idContainer043, #_idContainer049, #_idContainer053, #_idContainer057, #_idContainer061, #_idContainer065, #_idContainer067, #_idContainer069, #_idContainer071, #_idContainer075, #_idContainer077, #_idContainer081, #_idContainer084, #_idContainer086, #_idContainer090, #_idContainer092, #_idContainer096, #_idContainer098, #_idContainer101, #_idContainer105, #_idContainer112, #_idContainer123, #_idContainer129, #_idContainer130, #_idContainer133, #_idContainer137, #_idContainer138, #_idContainer141, #_idContainer144, #_idContainer145, #_idContainer148, #_idContainer150, #_idContainer151, #_idContainer154, #_idContainer158, #_idContainer162, #_idContainer164, #_idContainer166, #_idContainer168, #_idContainer170, #_idContainer174, #_idContainer176, #_idContainer178, #_idContainer180, #_idContainer184, #_idContainer189, #_idContainer193, #_idContainer195, #_idContainer197, #_idContainer201, #_idContainer205, #_idContainer207, #_idContainer209, #_idContainer211, #_idContainer215, #_idContainer218, #_idContainer220, #_idContainer222, #_idContainer224, #_idContainer226, #_idContainer228, #_idContainer231, #_idContainer233, #_idContainer235 {
	-webkit-transform:translate(200.000px,199.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2334.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,199.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer002 {
	-webkit-transform:translate(200.000px,654.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:1878.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,654.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer003, #_idContainer007 {
	-webkit-transform:translate(200.000px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:454.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer005 {
	-webkit-transform:translate(410.000px,1143.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:405.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(410.000px,1143.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1160.00px;
}
#_idContainer008 {
	-webkit-transform:translate(200.000px,600.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1932.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,600.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer010 {
	-webkit-transform:translate(199.999px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/12.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:2349.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(199.999px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer012, #_idContainer020, #_idContainer066, #_idContainer076, #_idContainer107, #_idContainer108, #_idContainer109, #_idContainer110, #_idContainer116, #_idContainer117, #_idContainer155, #_idContainer169, #_idContainer179, #_idContainer185, #_idContainer186, #_idContainer187, #_idContainer188, #_idContainer196, #_idContainer206, #_idContainer225, #_idContainer227, #_idContainer232, #_idContainer234, #_idContainer237 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/12.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:2349.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer014, #_idContainer026, #_idContainer072, #_idContainer087, #_idContainer102, #_idContainer113, #_idContainer124, #_idContainer159, #_idContainer171, #_idContainer190, #_idContainer202, #_idContainer213, #_idContainer230 {
	-webkit-transform:translate(200.000px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:474.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer015 {
	-webkit-transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:453.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer016 {
	-webkit-transform:translate(200.000px,1073.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1517.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1073.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer018 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2317.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer022 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1243.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer023 {
	-webkit-transform:translate(200.000px,1426.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:681.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1426.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer024 {
	-webkit-transform:translate(200.000px,2089.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:491.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,2089.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer027 {
	-webkit-transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:413.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer028 {
	-webkit-transform:translate(200.000px,1071.281px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:167.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1071.281px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer029 {
	-webkit-transform:translate(200.000px,1237.328px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/31.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:698.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1237.328px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer030 {
	-webkit-transform:translate(200.000px,1920.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1920.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer032, #_idContainer036, #_idContainer040, #_idContainer044, #_idContainer054 {
	-webkit-transform:translate(200.000px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:232.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer033, #_idContainer041 {
	-webkit-transform:translate(200.000px,432.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:293.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,432.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer034 {
	-webkit-transform:translate(200.000px,709.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1721.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,709.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer037 {
	-webkit-transform:translate(199.999px,432.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:353.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(199.999px,432.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer038 {
	-webkit-transform:translate(200.000px,769.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1073.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,769.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer039, #_idContainer047 {
	-webkit-transform:translate(200.000px,199.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,199.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer042 {
	-webkit-transform:translate(200.000px,709.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1361.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,709.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer045 {
	-webkit-transform:translate(200.000px,432.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:533.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,432.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer046 {
	-webkit-transform:translate(200.000px,949.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1583.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,949.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer048 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1289.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1650.00px;
}
#_idContainer050 {
	-webkit-transform:translate(199.999px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:232.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(199.999px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer051 {
	-webkit-transform:translate(202.000px,429.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:473.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(202.000px,429.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer052 {
	-webkit-transform:translate(201.999px,883.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1723.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(201.999px,883.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1645.32px;
}
#_idContainer055 {
	-webkit-transform:translate(200.000px,432.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:473.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,432.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer056 {
	-webkit-transform:translate(200.000px,889.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1145.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,889.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer058 {
	-webkit-transform:translate(200.000px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:232.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1650.00px;
}
#_idContainer059 {
	-webkit-transform:translate(200.000px,432.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:353.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,432.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer060 {
	-webkit-transform:translate(200.000px,769.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1433.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,769.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer062 {
	-webkit-transform:translate(200.000px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:534.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer063 {
	-webkit-transform:translate(200.000px,734.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:473.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,734.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer064 {
	-webkit-transform:translate(200.000px,1153.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1379.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1153.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer068, #_idContainer146 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/70.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:2401.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer070 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:569.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer073, #_idContainer191 {
	-webkit-transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:473.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer074, #_idContainer183 {
	-webkit-transform:translate(200.000px,1093.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1439.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1093.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer078 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1087.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer079 {
	-webkit-transform:translate(200.000px,1270.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:833.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1270.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer080 {
	-webkit-transform:translate(200.000px,2087.281px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:253.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,2087.281px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer082 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1877.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer083 {
	-webkit-transform:translate(200.000px,2045.234px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:515.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,2045.234px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer085 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2009.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer088, #_idContainer125 {
	-webkit-transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:293.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer089 {
	-webkit-transform:translate(200.000px,913.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1619.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,913.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer091, #_idContainer106 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/93.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:2369.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer093 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:793.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer094 {
	-webkit-transform:translate(199.999px,976.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:653.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(199.999px,976.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer095 {
	-webkit-transform:translate(200.000px,1613.281px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:953.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1613.281px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer097 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/99.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:2391.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer099 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1217.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer100 {
	-webkit-transform:translate(200.000px,1387.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:653.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1387.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer103 {
	-webkit-transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1013.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer104 {
	-webkit-transform:translate(200.000px,1633.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:899.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1633.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer111 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1505.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer114 {
	-webkit-transform:translate(200.000px,673.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:413.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,673.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer115 {
	-webkit-transform:translate(200.000px,1033.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1499.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1033.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer118, #_idContainer119, #_idContainer120, #_idContainer194 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/120.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:2405.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer121 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:209.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer126 {
	-webkit-transform:translate(200.000px,913.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:696.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,913.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer127 {
	-webkit-transform:translate(200.000px,1608.846px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/129.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:388.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1608.846px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer128 {
	-webkit-transform:translate(200.000px,1981.281px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:597.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1981.281px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer131, #_idContainer165, #_idContainer167 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/133.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:2395.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer134 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1289.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer135 {
	-webkit-transform:translate(199.999px,1457.281px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/31.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:698.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(199.999px,1457.281px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer136 {
	-webkit-transform:translate(199.999px,2140.115px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:392.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(199.999px,2140.115px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer139 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1973.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer142 {
	-webkit-transform:translate(200.000px,882.834px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1702.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,882.834px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer143 {
	-webkit-transform:translate(199.999px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/31.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:698.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(199.999px,200.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer149, #_idContainer152, #_idContainer217, #_idContainer219 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/151.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:2381.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer157 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:377.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer160 {
	-webkit-transform:translate(200.000px,673.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:293.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,673.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer161 {
	-webkit-transform:translate(200.000px,951.281px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1649.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,951.281px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer163 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/165.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:2455.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer172 {
	-webkit-transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:533.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer173 {
	-webkit-transform:translate(200.000px,1153.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1423.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1153.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer175, #_idContainer177, #_idContainer208, #_idContainer221, #_idContainer223 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/177.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:2389.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer181 {
	-webkit-transform:translate(200.000px,199.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:474.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,199.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer182 {
	-webkit-transform:translate(199.999px,673.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:473.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(199.999px,673.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer192 {
	-webkit-transform:translate(200.000px,1093.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1495.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,1093.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer198 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/200.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:2379.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer200 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1527.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer203 {
	-webkit-transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:353.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,674.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer204 {
	-webkit-transform:translate(200.000px,973.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1559.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,973.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer210 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2214.65px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer214 {
	-webkit-transform:translate(200.000px,620.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1946.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,620.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer229 {
	-webkit-transform:translate(200.000px,620.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1912.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,620.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer239 {
	-webkit-transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:367.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,183.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}
#_idContainer240 {
	-webkit-transform:translate(200.000px,596.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.000px,596.953px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1648.00px;
}

#cover-title {
margin-top:100px;
margin-bottom:50px;
text-align: center;
font-size: 72px;
font-weight:bold;
}

img._idGenObjectAttribute-1 {
	height:75%;
	width:99%;
}
img._idGenObjectAttribute-2 {
	display: block;
	margin-top:50px;
	margin-bottom:100px;
 	margin-left: auto;
 	margin-right: auto;
 	width: 99%;
}

.toc-title {
margin-top:100px;
margin-bottom:50px;
text-align: center;
font-size: 72px;
font-weight:bold;
color:orange;
}

.sgc-toc-title {
margin-top:100px;
margin-bottom:50px;
text-align: center;
font-size: 72px;
font-weight:bold;
color:green;
}